<%= form_for @micropost do |f| %>
<%= render 'shared/error_messages', :object => f.object %>
<div class="field">
  <%= f.text_area :content %>
</div>
You have <span id="count">140</span> characters left.
<div class="actions">
  <%= f.submit "Submit" %>
</div>
<% end %>
